<%= form_for(@bill) do |form| %>
  <% if bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :Cliente%>
      <%= form.text_field :client_id, id: :bill_client_id ,class:"form-control form-control-lg" ,placeholder:"Cliente"%>
    
  </div>
  <div class="field">
    <%= form.select :estado ,options_for_select(["Contado", "Credito"]) %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn-success" %>
  </div>
<% end %>
