<div class="row" style="padding-top:2%;">
  <div class="col-xs-3">
    <b>N°Factura:</b>
    <%= @bill.id %>
  </div>
    <div class="col-xs-3">
      <b>Vendedor:</b>
      <%= @bill.user.email%>
    </div>
    <div class="col-xs-3">
      <b>Cliente:</b>
      <%= @bill.client.nombre %>
    </div>

  <div class="col-xs-3">
    <b>Estado:</b>
    <%= @bill.estado %>
  </div>

  <div class="col-xs-3">
    <b>Total:</b>
     <%= @bill.total %>
  </div>
  <div class="col-xs-3">
    <b>Fecha limite:</b>
    <%= @bill.fecha_limite %>
  </div>
  </div>
  <div class="btn-group" role="group" aria-label="Basic example">
    </div>


<div class="row">
    <div class="col-xs-4">
      <div class="box mdl-shadow--2dp" style="padding: 3%; background-color: rgb(234, 241, 241)">
        <h3>Agregar articulos A Factura</h3>
    
        <%= render "detail_invoices/form"%>
    
          <p id="notice">
            <%= notice %>
          </p>
      </div>
    </div>
    <hr>
<div class="col-xs-8" id="articles-table">
  <%= render partial: 'bills/articles' %>
</div>
</div>
</div>

