<p id="notice"><%= notice %></p>

<h1>Abonos</h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>N° Abono</th>
      <th>Factura</th>
      <th>Cantidad</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.id %></td>
        <td><%= payment.bill.id%></td>
        <td><%= payment.cantidad %></td>
        <td><%= link_to 'Detalle', payment ,class: "btn btn-info" %>
            <%= link_to 'Editar', edit_payment_path(payment) , class: "btn btn-secondary" %>
            <%= link_to 'Eliminar', payment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Abono', new_payment_path ,class:"btn btn-lg btn-primary"%>
