<p id="notice"><%= notice %></p>

<p>
  <strong>Bill:</strong>
  <%= @payment.bill %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @payment.cantidad %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
