<!--el formulario ya no c puede generar unicamente con el datil si no con!-->
<!--[@entry,@detail] Combinacion del recurso padre y el sub_recurso!-->
<!--Despues inicializamos en entry_controlller-un nuevo comentario en show!-->
<%= form_for([@entry,@detail]) do |form| %>
  <% if @detail.errors.any? %>                          
    <div id="error_explanation">
      <h2><%= pluralize(@detail.errors.count, "error") %> prohibited this detail from being saved:</h2>

      <ul>
      <% @detail.errors.full_messages.each do |message| %>
        <li><%= message  %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<form lass="post-form text-left">
  <div>
    <div lass="form-control">
      <%= form.label :article_id %>
        <%= form.text_field :article_id, id: :detail_article_id %>
    </div>

    <div lass="form-control">
      <%= form.label :cantidad %>
        <%= form.text_field :cantidad, id: :detail_cantidad %>
    </div>



    <div lass="form-control">
      <%= form.label :descuneto %>
        <%= form.text_field :descuneto, id: :detail_descuneto %>
    </div>
    <div class="actions">
      <%= form.submit "Agregar Articulo",class:"btn btn-primary "%>
    </div>
  </div>

</form>
  

<% end %>
