<!DOCTYPE html>
<html>
  <head>
    <title>Sist.Inventario</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='tect/css' >
    

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <nav class="be-red white large-padding">
        <ul class="no-list row center-xs middle-xs"> 
          <li class="col-md">
            <h1 class="no-margin" id="logo" >Sistema</h1>
            
          </li>
          <li class="col-md">
              <%= link_to "Inicio",root_path %>
          </li>
          <li class="col-md">Facturas</li>
        </li>
        <li class="col-md">Reportes</li>
        </ul>
      </nav>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
